@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  min-height: 100%;
  display: grid;
  grid-template: minmax(75px, auto) 1fr minmax(79px, auto)/1fr;
  grid-template-areas: "header" "main" "footer";
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 767px;
  }
}
.header {
  grid-area: header;
  background: #222222;
}
.header__contant {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(74px, auto);
  align-items: center;
}
@media (max-width: 1139px) {
  .header__contant {
    padding: 0px 32px;
  }
}
@media (max-width: 767px) {
  .header__contant {
    padding: 0px 16px;
  }
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__img {
  margin-right: 41px;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: end;
}

.haeder__link {
  margin-left: 33px;
}

@media (max-width: 768px) {
  .link-data {
    display: none;
  }

  .link-basket {
    display: none;
  }
}
.main {
  grid-area: main;
}

.brand {
  background: #F1E4E6;
}
.brand__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(auto, 768px);
}
@media (max-width: 767px) {
  .brand .brand__container {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(auto, 363px);
  }
  .brand .brand__left {
    display: none;
  }
  .brand .brand__right {
    margin: 0 auto;
  }
}
.brand__left {
  position: relative;
}
.brand__left img {
  position: absolute;
  top: 0;
  left: -14%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1120px) {
  .brand__left img {
    left: -8%;
  }
}
@media (max-width: 992px) {
  .brand__left img {
    left: -4%;
  }
}
.brand__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-left: 63px;
}
.brand__title {
  font-family: "Lato";
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}
@media (max-width: 992px) {
  .brand {
    font-size: 38px;
    line-height: 45px;
  }
}
.brand__subtitle {
  font-family: "Lato";
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}
.brand__subtitle span {
  color: #F16D7F;
}
@media (max-width: 992px) {
  .brand__subtitle {
    font-size: 20px;
    line-height: 24px;
  }
}

.offer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 180px;
  gap: 30px;
  padding: 64px 0px;
}
@media (max-width: 1139px) {
  .offer {
    padding: 64px 32px;
  }
}
.offer__women {
  position: relative;
}
.offer__women:hover {
  transform: scale(1.02);
}
.offer__women:active {
  transform: scale(0.9);
}
.offer__info {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer__text {
  font-family: "Lato";
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}
.offer__text span {
  font-family: "Lato";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #F16D7F;
}
.offer__men {
  position: relative;
}
.offer__men:hover {
  transform: scale(1.02);
}
.offer__men:active {
  transform: scale(0.9);
}
.offer__kids {
  position: relative;
}
.offer__kids:hover {
  transform: scale(1.02);
}
.offer__kids:active {
  transform: scale(0.9);
}
.offer__accesories {
  position: relative;
  grid-column: 1/-1;
}
.offer__accesories:hover {
  transform: scale(1.02);
}
.offer__accesories:active {
  transform: scale(0.9);
}

.offerImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.offerImgBig {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

@media (max-width: 540px) {
  .offer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 247px) 111px;
    row-gap: 32px;
    padding: 64px 16px;
  }
}
.products__title {
  font-family: "Lato";
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
}
.products__subtitle {
  font-family: "Lato";
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
  padding: 6px 0px 48px;
}
.products__card {
  margin-bottom: 48px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(360px, auto));
  grid-auto-rows: 1fr;
  justify-content: center;
}
@media (max-width: 1139px) {
  .products__card {
    padding: 0px 32px;
  }
}
@media (max-width: 992px) {
  .products__card {
    gap: 16px;
  }
}
.products__btn {
  display: flex;
  justify-content: center;
}

.btn__pro {
  font-family: "Lato";
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  padding: 14px 38px;
  border: 1px solid #FF6A6A;
}
.btn__pro:hover {
  color: #F1E4E6;
  background: #F26376;
  transition: all 0.3s ease;
}
.btn__pro:active {
  transform: scale(0.9);
}

.card__img:hover {
  transform: scale(1.02);
}
.card__img:active {
  transform: scale(0.9);
}
.card__title {
  font-family: "Lato";
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding-top: 25px;
  margin: 0px 0px 0px 18px;
}
.card__subtitle {
  font-family: "Lato";
  max-width: 314px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin: 13px 0px 18px 18px;
}
.card__prise {
  font-family: "Lato";
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin: 0px 0px 20px 18px;
}

.info {
  background: #222224;
}

.info {
  margin-top: 95px;
}
.info__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-template-rows: 1fr;
  gap: 30px;
  padding: 104px 0px;
}
@media (max-width: 1130px) {
  .info__content {
    grid-template-columns: 1fr;
    gap: 48px;
    padding: 48px 0px 64px 0px;
  }
}
.info__img {
  text-align: center;
  width: 44px;
  height: 31px;
}
.info__title {
  font-family: "Lato";
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  text-align: center;
  margin: 28px 0px 16px;
}
.info__text {
  font-family: "Lato";
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  max-width: 300px;
}

.devivery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quality {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.connect {
  background-image: url(../img/connect/bg-connect.jpg);
  background-size: cover;
}
.connect__contant {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(560px, 1fr));
  grid-template-rows: 1fr;
}
@media (max-width: 1120px) {
  .connect__contant {
    grid-template-columns: 1fr;
  }
}
.connect__info {
  display: flex;
  justify-content: start;
  padding: 97px 0px 126px;
}
@media (max-width: 1120px) {
  .connect__info {
    justify-content: center;
    padding-bottom: 48px;
  }
}
.connect__email {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.info__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
}
.info__item img {
  width: 96px;
}

.item__text {
  font-family: "Lato";
  padding-top: 30px;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
  text-align: center;
}
.item__text span {
  font-style: italic;
}

.email__title {
  font-family: "Lato";
  font-weight: 700;
  font-size: 24px;
  color: #222224;
  text-align: center;
}
.email__title span {
  font-family: "Lato";
  font-weight: 400;
  font-size: 18px;
}
.email__form {
  text-align: center;
  padding-top: 32px;
}
@media (max-width: 1120px) {
  .email__form {
    padding: 28px 0px 140px;
  }
}

.form__email {
  background: #E1E1E1;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
  padding: 20px 64px 20px 22px;
  border-radius: 20px 0 0 20px;
}
@media (max-width: 1120px) {
  .form__email {
    padding: 18px 48px 18px 18px;
  }
}

.form__sabmit {
  font-family: "Lato";
  margin-left: -4px;
  background: #F16D7F;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  padding: 20px 24px 20px 23px;
  border-radius: 0 20px 20px 0;
}
.form__sabmit:hover {
  background: #f0485e;
  transition: all 0.3s ease;
}
@media (max-width: 1120px) {
  .form__sabmit {
    padding: 18px 20px 18px 19px;
  }
}

.footer {
  grid-area: footer;
  background: #222224;
}
.footer__contant {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  grid-template-rows: minmax(79px, auto);
  align-items: center;
}
@media (max-width: 1139px) {
  .footer__contant {
    padding: 0px 32px;
  }
}
@media (max-width: 767px) {
  .footer__contant {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(79px, auto);
  }
}
.footer__left {
  display: flex;
  justify-content: start;
  align-items: center;
}
@media (max-width: 767px) {
  .footer__left {
    justify-content: center;
    order: 2;
    margin-bottom: 9px;
  }
}
.footer__right {
  display: flex;
  justify-content: end;
  align-items: center;
}
@media (max-width: 767px) {
  .footer__right {
    justify-content: center;
    order: 1;
    margin: 43px 0px 40px;
  }
}
.footer__img-F {
  background: #FFFFFF;
  padding: 8px 12px 9px;
  margin-right: 8px;
}
.footer__img-I {
  background: #FFFFFF;
  padding: 9px 8px 9px;
  margin-right: 8px;
}
.footer__img-P {
  background: #FFFFFF;
  padding: 8px 9px;
  margin-right: 8px;
}
.footer__img-T {
  background: #FFFFFF;
  padding: 9px 8px;
}

.footerHover:hover {
  background: #f0485e;
  transition: all 0.3s ease;
}
.footerHover:active {
  transform: scale(0.9);
}

.footer__text {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}